.welcome-container {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #0099f7 0%, #f11712 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Styling for the logo */
.logo {
    width: 150px; /* Adjust the size of the logo */
    margin-bottom: 20px; /* Space between logo and heading */
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

.welcome-container h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.button-container button {
    background-color: #fff;
    color: #f11712;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #f11712;
    color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Footer styling */
.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.0em;
    opacity: 0.8;
}

.footer p {
    margin: 0;
}

#footerright p {
    color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .welcome-container h1 {
      font-size: 2.5em;
    }
  
    .button-container button {
      padding: 10px 20px;
      font-size: 1.1em;
    }
    .logo{
        width: 200px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .welcome-container h1 {
      font-size: 2em;
    }
  
    .button-container button {
      padding: 8px 18px;
      font-size: 1em;
    }

    .logo {
      width: 120px; /* Smaller logo for mobile */
    }
}
